body {
    background: url("img/index.jpg");
    background-repeat: round;

}
h1 {
    color: blueviolet;
    font-family: cursive;

}
b {
    color: brown;
    font-family: monospace;

}